<h3>Person {{model.id}}</h3>
{{input value=model.firstName}}
{{input value=model.lastName}}
<b>{{model.fullName}}</b>

{{input type="text" value=model.enteredWat}}
<p class="input-error">{{model.watError}}</p>

<button {{action "save"}}>Save</button>

{{#link-to 'people'}}home{{/link-to}}
